---
import { Icon } from "astro-icon/components";
import SkillBadge from "../ui/SkillBadge.astro";
import { SkillName } from "@/data/skills";

const { href, imgSrc, title, slug, description, skills } = Astro.props;

const skillsList = skills.slice(0, 3) || [];
const isLongSkillsList = skills.length > 3;
---

<a href={href} class="block w-full">
  <div
    class="project-card rounded-md group bg-gradient-to-br from-white via-blue-50/50 to-indigo-100/10 dark:from-slate-900/95 dark:via-blue-950/30 dark:to-indigo-950/20 backdrop-blur shadow-md relative overflow-hidden w-full h-full"
    transition:name={`${slug}-card`}
  >
    <div
      class="absolute -translate-x-5 group-hover:translate-x-0 rounded-full p-3 bg-white dark:bg-gray-800 right-3 top-3 opacity-0 transition-all duration-300 group-hover:opacity-100 z-10"
    >
      <Icon name="mdi:arrow-right" class="text-lg" />
    </div>
    <div
      class="overlay bg-black/10 absolute inset-0 rounded-md opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    >
    </div>

    <div
      class="px-2 pt-2 flex flex-col items-center justify-center overflow-hidden"
    >
      <h3
        class="project-card_title text-lg lg:text-xl font-semibold mt-2 group-hover:translate-y-10 transition-transform duration-300 text-gray-800 dark:text-gray-200"
      >
        {title}
      </h3>
      <p
        class="project-card_description h-[45px] text-sm lg:text-base group-hover:translate-y-24 group-hover:opacity-0 max-w-[65%] duration-200 text-gray-600 dark:text-gray-400 multiline-ellipsis text-center"
      >
        {description}
      </p>
      <div
        class="project-card_skills flex flex-wrap gap-2 my-2 items-center group-hover:opacity-0 duration-300 text-gray-500 dark:text-gray-300"
      >
        {
          skillsList.map((skill: SkillName) => (
            <SkillBadge skill={skill} size="sm" />
          ))
        }
        {
          isLongSkillsList && (
            <span class="project-card_skill text-xs text-slate-600 dark:text-slate-400 font-medium">
              +{skills.length - 3} más
            </span>
          )
        }
      </div>
      <picture>
        <source srcset={`${imgSrc}.webp`} type="image/webp" />
        <img
          class="project-card_img shadow-gray-500 object-cover group-hover:translate-y-0 group-hover:scale-130 ease-in-out duration-300 mx-auto"
          src={`${imgSrc}.png`}
          alt={title}
          loading="eager"
          decoding="sync"
          transition:name={`${slug}-image`}
        />
      </picture>
    </div>
  </div>
</a>

<style>
  .project-card_img {
    width: clamp(60%, 70%, 300px);
    height: auto;
  }

  .multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

<script src="/src/utils/animations/projectCardsAnimation.ts"></script>
