---
import Layout from "@layouts/Layout.astro";
import AboutMe from "@/components/ui/AboutMe";
const icons = ["🚀", "🌈", "🔥", "💎", "✨", "🎉", "📱", "💻"];
const randomDuration = () => `${Math.random() * 5 + 3}s`;
---

<Layout
  title="Sobre Mí | Jose Armando de los Santos - Desarrollador Full-Stack"
  description="Conoce a Jose Armando de los Santos (JDLSantos), Ingeniero de Software egresado de UNAPEC. +3 años de experiencia en React, Node.js, TypeScript y desarrollo de aplicaciones empresariales."
>
  <div class="w-full overflow-hidden">
    {
      icons.map((emoji) => {
        // Genera posiciones y duración aleatoria
        const top = Math.random() * 50;
        const left = Math.random() * 50;
        const translateX = (Math.random() - 0.5) * 100; // Random x translation
        const translateY = (Math.random() - 0.5) * 100; // Random y translation

        return (
          <span
            class="floating-icon"
            style={`top: ${top}vh; left: ${left}vw; --x: ${translateX}px; --y: ${translateY}px; animation-duration: ${randomDuration()};`}
          >
            {emoji}
          </span>
        );
      })
    }
  </div>
  <div class="flex items-center justify-center p-4 mt-14 lg:mt-20">
    <div class="fixed inset-0 overflow-hidden pointer-events-none"></div>
    <div
      transition:name="about-me-container"
      class="w-full max-w-3xl rounded shadow-lg bg-white/90 dark:bg-slate-800 backdrop-blur-xs dark:shadow-blue-950"
    >
      <AboutMe client:load />
    </div>
  </div>
</Layout>

<style>
  .floating-icon {
    position: absolute;
    font-size: 2rem;
    animation: float 10s ease-in-out infinite;
    opacity: 0.15;
    z-index: -10;
    pointer-events: none;
    user-select: none;
  }

  @keyframes float {
    0% {
      transform: translate(0, 0) rotate(0deg) scale(1);
    }
    50% {
      transform: translate(var(--x), var(--y)) rotate(360deg) scale(1.2);
    }
    100% {
      transform: translate(0, 0) rotate(0deg) scale(1);
    }
  }
</style>
