---
import Layout from "@/layouts/Layout.astro";
import { projects } from "@/mocks/projects";
import { imageConfig } from "astro:assets";
import { ExternalLink, ArrowLeft } from "lucide-react";

export function getStaticPaths() {
  return projects.map((project) => ({
    params: { project: project.slug },
  }));
}
const { project } = Astro.params;

const currentProject = projects.find((p) => p.slug === project);
const imagePath = `/assets/projects/${currentProject?.slug}.webp`;
---

<Layout title={currentProject?.title || "proyecto"}>
  <div
    transition:name={`${currentProject?.slug}-container`}
    class="container mx-auto py-12 px-4 sm:px-6 lg:px-24"
  >
    <a href="/projects" class="inline-flex items-center hover:underline mb-8">
      <ArrowLeft className="mr-2 h-4 w-4" />
      Volver a los proyectos
    </a>

    <div class="img-title-desc-container flex flex-col gap-8">
      <div>
        <img
          src={imagePath}
          alt=`${currentProject?.slug}-image`
          class="rounded-lg shadow-lg w-full h-auto"
        />
      </div>

      <div>
        <h1 class="text-4xl font-bold mb-4">
          {currentProject?.title}
        </h1>

        <div class="mb-8">
          <div>
            <p class="text-lg text-muted-foreground mb-4">
              {currentProject?.shortDescription}
            </p>
            <div class="space-y-4">
              <h2 class="text-2xl font-semibold">Descripción</h2>
              <p class="text-muted-foreground">
                {currentProject?.description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">Tecnologías</h2>
      <div class="flex flex-wrap gap-2">
        {
          currentProject?.skills.map((tag) => (
            <span class="text-sm text-gray-400 dark:bg-green-500 bg-gray-100 px-2 py-1 rounded-full">
              {tag}
            </span>
          ))
        }
      </div>
    </div>

    <div>
      <button>
        <a href={currentProject?.url}>
          <ExternalLink className="mr-2 h-4 w-4" />
          Visitar sitio web
        </a>
      </button>
    </div>
  </div>
</Layout>
